<h1 class="mt-4">Medicamentos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="msgSucesso">
                Medicamento deletado com sucesso!
            </div>
            <div class="alert alert-danger" role="alert" *ngFor="let erro of msgErro">
                {{ erro }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data Cadastro</th>
                        <th>Descrição</th>
                        <th>Forma</th>
                        <th>Intensidade</th>
                        <th>Unidade</th>
                        <th>Frequencia</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medic of medicamentos">
                        <td>{{ medic.id }}</td>
                        <td>{{ medic.dataCadastro }}</td>
                        <td>{{ medic.descricao }}</td>
                        <td>{{ medic.forma }}</td>
                        <td>{{ medic.intensidade }}</td>
                        <td>{{ medic.unidade }}</td>
                        <td>{{ medic.frequencia }}</td>
                        <td>{{ medic.horario }}</td>
                        <td>
                            <button class="btn btn-primary"
                                    routerLink="/medicamentos/form/{{ medic.id }}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" (click)="preparaDelecao(medic)"
                                    data-toggle="modal" 
                                    data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="medicamentoSelecionado">
                    Confirma a deleção do registro {{ medicamentoSelecionado.descricao }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" 
                        (click)="delecao(medicamentoSelecionado)" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</div>
